<body ng-app="fourmeez" ng-controller="SignUpCtrl">
<div class="header">
    <div id="header-wrapper">
        <div class="header-bg"></div>
        <div id="header" class="container">
            <!-- Logo -->
            <h1 id="logo">
                <a href="index.html">Devenir artisan référencé sur Fourmeez</a>
                <form ng-click="signUp()">
                <button class="button button-positive button-block" ng-click="signUp()">Inscription</button>
                </form>
            </h1>
        </div>
    </div>
</div>
<body ng-app="fourmeez" >
  <ion-content padding="true">
  <div> Welcome </div>
  </ion-content>
</body>
